<div class="bg-white shadow-sm p-4 rounded-2xl">
    <div class="max-h-64 rounded-lg overflow-hidden">
        <img class="max-w-full object-contain" src="{{image}}" title="{{name}}" alt="{{name}}" />
    </div>
    <div>
        <h3 class="text-lg font-semibold mt-2 mb-3">{{name}}</h3>
        <div class="flex items-center justify-between">
            <div class="flex items-center gap-3">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                    </svg>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                    </svg>
                </div>
            </div>
            <p class="text-lg font-semibold">{{price}}$</p>
        </div>
    </div>
</div>