<ul class="h-600-px overflow-y-auto">
    <li class="mb-3">
        <div class="flex items-center justify-between text-sm font-semibold">
            <p>test item</p>
            <div class="flex items-center justify-center w-8 h-8 bg-gray-200 rounded-full">1</div>
        </div>
    </li>
    <li class="mb-3">
        <div class="flex items-center justify-between text-sm font-semibold">
            <p>test item</p>
            <div class="flex items-center justify-center w-8 h-8 bg-gray-200 rounded-full">2</div>
        </div>
    </li>
</ul>
<div class="flex items-center justify-between text-xl font-semibold mb-4">
    <h4>Subtotal</h4>
    <p>0,00$</p>
</div>
<button class="flex items-center text-xl font-semibold text-red-600 mb-4">
    <h4 class="mr-2">Discount</h4>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
    </svg>
</button>
<div class="flex items-center justify-between text-2xl font-semibold border-t pt-1">
    <h4>Total</h4>
    <p>0,00$</p>
</div>