<ul class="h-600-px overflow-y-auto" *ngIf="items.length > 0">
    <li class="mb-3" *ngFor="let item of items">
        <div class="flex items-center justify-between text-sm font-semibold">
            <div class="flex items-center text-sm">
                <p class="mr-2">{{item.name}}</p>
                <div class="flex items-center justify-center w-6 h-6 bg-gray-200 rounded-full">{{item.qty}}</div>
            </div>
            <p>{{item.price}} $</p>
        </div>
    </li>
</ul>
<ul class="h-600-px overflow-y-auto" *ngIf="items.length == 0">
    <li class="text-sm font-semibold">
        No Cart Items
    </li>
</ul>
<div class="flex items-center justify-between text-xl font-semibold mb-4">
    <h4>Subtotal</h4>
    <p>{{ totalCartPrice }}$</p>
</div>
<button class="flex items-center text-xl font-semibold text-red-600 mb-4">
    <h4 class="mr-2">Discount</h4>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
    </svg>
</button>
<div class="flex items-center justify-between text-xl font-semibold border-t pt-4">
    <h4>Total wit Tax</h4>
    <p>{{ totalCartPriceWithTax }}$</p>
</div>