<div class="grid grid-cols-12 md:gap-4">
                    <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3">
                        <app-card
                            [image]="['/assets/images/1.jpg']"
                            [name]="['Food Name']"
                            [price]="['129']"
                        ></app-card>
                    </div>
                    <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3">
                        <app-card
                            [image]="['/assets/images/3.jpeg']"
                            [name]="['Food Name 2']"
                            [price]="['300']"
                        ></app-card>
                    </div>
                    <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3">
                        <app-card
                            [image]="['/assets/images/2.jpg']"
                            [name]="['Food Name 3']"
                            [price]="['400']"
                        ></app-card>
                    </div>
                    <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3">
                        <app-card
                            [image]="['/assets/images/3.jpeg']"
                            [name]="['Food Name 4']"
                            [price]="['800']"
                        ></app-card>
                    </div>
                </div>