<div class="bg-white shadow-sm rounded-2xl">
    <div class="p-4">
        <div class="max-h-28 rounded-lg overflow-hidden">
            <img class="max-w-full object-contain w-full" src="{{image}}" title="{{name}}" alt="{{name}}" />
        </div>
        <div>
            <div class="flex items-center justify-between">
                <h3 class="text-lg font-semibold mt-2 mb-3">{{name}}</h3>
                <p class="text-lg font-semibold">{{price}}$</p>
            </div>
        </div>
    </div>

    <div class="border-t border-gray-100 p-4">
        <h3 class="text-lg text-gray-400 mb-2">Items</h3>
        <ul *ngFor="let item of collection">
            <li class="mb-4">
                <div class="flex items-center justify-between text-sm text-gray-600">
                    <div class="flex items-center">
                        <img class="w-10 h-10 rounded-full object-contain" [src]="item?.image" [alt]="item?.name" />
                        <h5 class="ml-3">{{item?.name}}</h5>
                    </div>
                    <p class="font-semibold">{{item?.price}}$</p>
                </div>
            </li>
        </ul>
    </div>
</div>