<div class="p-4 bg-white text-gray-500 rounded-2xl shadow-sm">
    <div class="flex items-center justify-between gap-3 border-b pb-3 mb-5">
        <div class="flex items-center gap-3">
            <button class="relative" (click)="checkCurrentTab('fav')">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
                </svg>
                <span class="absolute top-5-px flex items-center justify-center w-5 h-5 text-sm text-white bg-red-600 bg-opacity-90 rounded-full">1</span>
            </button>
            <button class="relative" (click)="checkCurrentTab('menu')">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                </svg>
                <span class="absolute top-5-px flex items-center justify-center w-5 h-5 text-sm text-white bg-red-600 bg-opacity-90 rounded-full">1</span>
            </button>
        </div>
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
            </svg>
        </button>
    </div>
    <div>
        <app-cart [hidden]="currentTab == 'fav'"></app-cart>
        <app-fav-menu [hidden]="currentTab != 'fav'"></app-fav-menu>
    </div>
</div>